legend {
    background-color: #000;
    color: #fff;
    padding: 3px 6px;
}

input {
    margin: 0.4rem;
}
.list{
    display: grid;
    grid-template-columns: 1fr;
}
.list table{
    width: 500px;
    text-align: center;
}
.employer{
    display: flex;
    justify-content: first baseline;
    align-items: center;
}

.custom-delete {
    margin: 0 20px;
}

.employer p {
    border-right: 1px solid #000;
    padding: 10px 20px;
}

.edit {
    display: none;
}